.Disp {
    display: flex;
    justify-content: center;
    min-height: 100px;
    font-size: 50px;
    width: 180px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: paleturquoise ;
    margin-bottom: 20px;
    color: black;
}

.red {
    color: red;
}